/* =============================== [START] color =============================== */
$f-c-base: #333;
$f-c-link: #1da1f2;
$bg-base: #ededed;
/* =============================== [END] color =============================== */

/* =============================== [START] font =============================== */
// size
$f-s-root: 20; // pixel
$f-s-14: rem(14);
$f-s-16: rem(16);
$f-s-18: rem(18);
$f-s-base: $f-s-14;
// line height
$f-l-base: 1.4;
// familiy
$f-f-base: 'Open Sans', sans-serif;
// weight
$f-w-normal: 400;
$f-w-bold: 700;
$f-w-base: $f-w-normal;
/* =============================== [END] font =============================== */

/* =============================== [START] break point =============================== */
$break-tablet: 767px;
/* =============================== [END] break point =============================== */

/* =============================== [START] CONTENT WRAPPER =============================== */
$content-max-width_base: rem(1440);
$content-gap-horize: rem(10);
$content-gap-vert: rem(15);
/* =============================== [END] CONTENT WRAPPER =============================== */