@import './modules/reset.scss';
@import './modules/styles.scss';
@import './modules/atomic.scss';

html {
  font-size: $f-s-root * 1px;
}

body {
  font-family: $f-f-base;
  font-size: $f-s-base;
  font-weight: $f-w-base;
  line-height: $f-l-base;
  color: $f-c-base;
  background-color: $bg-base;
}

a {
  color: $f-c-link;
}